@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
:root {

    --primary-font: "EB Garamond", serif;
    --secondary-font: "Nunito", sans-serif;
    --primary-color: #F2E3D5; /* Navbar and footer */
    --sub-heading-color: #C39B6D; /* Subheading and button color */
    --button-color: #8F6D5F;
    --secondary-color: #A48D67;
}

/* General Styling */

img {
    max-width: 100%;
    max-height: 400px;
    object-fit: cover; 
}

/* Headings */
h1, h2, h3, h4, h5, h6 {
    font-family: var(--primary-font);
    text-transform: capitalize;
    text-align: center;
    color:var(--sub-heading-color);
}



