@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
:root {

    --primary-font: "EB Garamond", serif;
    --secondary-font: "Nunito", sans-serif;
    --primary-color: #F2E3D5; 
    --sub-heading-color: #C39B6D; 
    --button-color: #8F6D5F;
    --secondary-color: #A48D67;
}

/* General Styling */

img {
    max-width: 100%;
    max-height: 400px;
    object-fit: cover; 
}

/* Headings */
h1, h2, h3, h4, h5, h6 {
    font-family: var(--primary-font);
    text-transform: capitalize;
    text-align: center;
    color:var(--sub-heading-color);
}
/*buttons*/
.btn {
    color: white;
    background-color:var(--button-color); 
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.btn:hover {
    background-color: var(--secondary-color);
}

/* Navbar */
.navbar {
    background-color: var(--primary-color);
}


.review-item {
    padding: 20px;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
}

.review-item:hover {
    transform: translateY(-5px);
}

.review-item p.lead {
    font-style: italic;
    font-size: 1.1rem;
}


/* Service Cards */
.card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
/* Footer */
/* Footer Styling */
#contact {
    background-color: var(--primary-color);
    padding: 20px 10px;
    text-align: center;
}

/* Footer Icons */
#contact i {
    margin-right: 8px;
}

#contact i:hover {
    color:white;
}

/* Social Media Links */
.social-links {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.social-links a {
    font-size: 1.5rem;
    color: black;
    transition: color 0.3s ease-in-out, transform 0.2s ease-in-out;
}
.social-links a:hover {
    color: var(--sub-heading-color);
    transform: scale(1.2);
}

/* Footer Text */
#contact p {
    font-size: 1rem;
    
}

/* Footer Heading */
#contact h2 {
    font-family: var(--secondary-font);
    font-size: 1.8rem;
}

/* Footer links */
a{
    text-decoration: none;
    color: black;
}

a:hover{
    text-decoration: underline;
    color: var(--button-color);
}

footer#contact.footer-bottom{
    margin-top: 40px;
}

#service{
    margin-top: 70px;
}

/* booking form page  */
h1{
    margin-top: 100px;
}
p{ 
    text-align: center;
}

button{
    margin-top: 30px;
}